*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.img1{
    width: 40px;
    margin-right: 10px;
}
.img2{
    width: 40px;
    margin-right: 10px;
}
.img3{
    width: 45px;
    margin-right: 10px;
}

a{
    margin-right: 30px;
    padding-right: 10px;
}

.container{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
}
.foto{
    height: 250px;
    width: 200px;
    margin: 20px;
    margin-left: 90px;
}
.nombre{
    text-align: left;
    font-size: 20px;
    margin-left: 55px;

}
.asistencialInfo{
    left: 8%;
    margin-left: 40px;
    margin-top: 17%;
    position: absolute;
    top: 40px;
    width: 35%;
    height: 50%;
    background:  #0f3959;
    z-index: 1;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

.asistencialboxInfo{
    margin-top: 14%;
    left: 7%;
    position: absolute;
    padding: 55px 50px;
    background: #bfe1e2;
    margin-left: 250px;
    padding-left: 220px;
    width: 72%;
    height: 75%;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
}

.list-box{
    position: absolute;
}

.list-box li{
    font-size: larger;
}

.info td{
    padding-right: 50px;
}

.info{
    margin-left: 5%;
}

.panel-info{
    margin-left: 29%;
    margin-top: 11%;
}
.card{
    margin-left: 4%;
    margin-top: 3%;
}
    
.menu-bar{
    position:absolute;
    width: 40%;
    top: 8%;
    left: 29%;
}

@media only screen and (max-width: 991px) {
    .menu-bar{
        top: 0;
        left: 0;
        z-index: 1;
    }
    .img1{
        display: none;
    }
    .img2{
        display: none;
    }
    .img3{
        display: none;
    }
    .asistencialInfo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-top: 0;
        left: 0%;
        position: absolute;
        top: 40px;
        width: 50%;
        height: auto;
        z-index: 0;
    }
    .card-img-top{
        left: 400px;
    }

    .asistencialboxInfo{
        margin-top: 0;
        position: absolute;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        padding-left: 0;
        width: 50%;
        height: auto;
        left: 0;
        top: 350px;
    }
    .container{
        position: relative;
        width: 100%;
        min-height: auto;
        display: block;
    }
    
}