*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.img1{
    width: 40px;
    margin-right: 10px;
}
.img2{
    width: 40px;
    margin-right: 10px;
}
.img3{
    width: 45px;
    margin-right: 10px;
}

a{
    margin-right: 30px;
    padding-right: 10px;
}
.menu-bar{
    position: absolute;
    border-radius: 10px;
    left: 30%;
    top: 5%;
    z-index: 1;
}
.btn-search{
    position: absolute;
    width: 40%;
    top: 15%;
    left: 27%;
}

.patientInfo h2{
    margin-bottom: 20px;
}
.patientInfo td{
    padding-right: 15px;
}
.patientInfo{
    border-radius: 10px;
    background: #0f3959;
    position: absolute;
    margin-left: 4%;
    width: 33%;
    top: 35%;
    height: auto;
    color: white;
    padding: 40px;
    z-index: 1;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}
.data-info{
    border-radius: 10px;
    background: #bfe1e2;
    padding: 55px 50px;
    padding-left: 250px;
    width: 70%;
    height: 70%;
    top: 25%;
    left: 20%;
    position: absolute;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
}
.data-info .info .text{
    border-radius: 20px;
    margin-right: 20px;
    width: 40%;
    margin-bottom: 20px;
}
.data-info .data{
    border-radius: 20px;
}

.btn-save{
    border-radius: 20px;
    width: 40%;
    position: absolute;
    left: 38%;
    top: 70%;
}

@media only screen and (max-width: 991px){
    .menu-bar{
        top: 0;
        left: 0;
    }
    .img1{
        display: none;
    }
    .img2{
        display: none;
    }
    .img3{
        display: none;
    }
    .btn-search{
        position: absolute;
        width: 40%;
        top: 5%;
        left: 27%;
    }

    .patientInfo{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-top: 0;
        position: relative;
        top: 80px;
        width: 100%;
        height: auto;
    }
    .data-info{
        margin-top: 20px;
        position: relative;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        padding-left: 0;
        width: 100%;
        height: auto;
        left: 0;
        top: 30px;
    }
    .btn-save{
        border-radius: 20px;
        width: 40%;
        position: absolute;
        left: 20%;
        top: 85%;
    }
}